// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Inter, sans-serif
  font-weight: normal
  font-size: 16px
  color: #000

h1, .h1
  font-family: Montserrat
  font-weight: 600
  font-size: 36px
  line-height: 40px

h2,.h2
  font-family: Montserrat
  font-weight: 500
  font-size: 28px
  line-height: 32px
  letter-spacing: 0.6px

h3,.h3
  font-size: 24px
  line-height: 28px
  letter-spacing: 0.2px

h4, .h4
  font-weight: bold
  font-size: 20px
  line-height: 24px
  letter-spacing: 0.1px

h5, .h5
  font-size: 16px
  font-weight: 500
  line-height: 24px
  font-family: Rubik

h6, .h6


p
  font-size: 16px
  line-height: 26px

a
  color: #322C24
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


*::-webkit-input-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #A1A1A1
  font-size: 14px
  font-weight: 300
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


.container
  margin: 0 auto


.soc
  display: inline-block
  width: 36px
  height: 36px
  vertical-align: middle

  &-btn
    margin-bottom: 24px
    list-style: none

    li
      display: inline-block
      margin-right: 12px

      &:last-child
        margin-right: 0

  &-telegram
    background: url(../img/telegram.svg) no-repeat

  &-viber
    background: url(../img/viber.svg) no-repeat

  &-whatsapp
    background: url(../img/whatsapp.svg) no-repeat

  &-facebook
    background: url(../img/Facebook.svg) no-repeat

  &-youtube
    background: url(../img/youtube.svg) no-repeat

  &-vkontakte
    background: url(../img/vkontakte.svg) no-repeat

  &-odnoklassniki
    background: url(../img/odnoklassniki.svg) no-repeat

  &-instagram
    background: url(../img/instagram.svg) no-repeat


.slick-slide
  outline: none