@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format("woff2"), url('../fonts/Inter/Inter-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Regular.woff2') format("woff2"), url('../fonts/Inter/Inter-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter/Inter-Medium.woff2') format("woff2"), url('../fonts/Inter/Inter-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0')
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?o5wjt0') format("truetype"), url('../fonts/icomoon/icomoon.woff?o5wjt0') format("woff"), url('../fonts/icomoon/icomoon.svg?o5wjt0#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1




.icon-balance:before
  content: "\e91a"

.icon-user:before
  content: "\e91b"

.icon-place:before
  content: "\e91c"
  color: #9e7a16

.icon-phone:before
  content: "\e91d"
  color: #9e7a16

.icon-arrow-left:before
  content: "\e900"

.icon-arrow-right:before
  content: "\e901"

.icon-check:before
  content: "\e903"

.icon-chevron-bottom:before
  content: "\e904"

.icon-close:before
  content: "\e905"

.icon-comment:before
  content: "\e906"

.icon-compare:before
  content: "\e907"

.icon-grid:before
  content: "\e908"

.icon-grid-row:before
  content: "\e909"

.icon-heart:before
  content: "\e90a"

.icon-heart-solid:before
  content: "\e90b"

.icon-lock:before
  content: "\e90c"

.icon-menu
  vertical-align: middle
  
  &:before
    content: ''
    display: inline-block
    width: 24px
    height: 24px
    background: url(../img/menu.svg) no-repeat

.icon-scroll-down:before
  content: "\e911"

.icon-search:before
  content: "\e912"

.icon-star:before
  content: "\e913"

.icon-star-solid:before
  content: "\e914"

.icon-warning:before
  content: "\e916"

.icon-user-2
  vertical-align: middle
  
  &:before
    content: ''
    display: inline-block
    width: 29px
    height: 29px
    background: url(../img/user-2.svg) no-repeat

.icon-filter
  content: ''
  display: inline-block
  width: 24px
  height: 24px
  background: url(../img/filter.svg) no-repeat
  background-size: contain


.icon-heart-fill:before
  content: "\e91e"



