@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	box-shadow: 0px 4px 11px 3px rgba(0, 0, 0, 0.09)
	transition: all .3s
		

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 10px 0
		z-index: 9999
		transform: translate(0 0)
		background: #fff
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

		.header-top
			display: none

		.header-wrap
			padding: 0

		&+.content
			padding-top: 96px

		.catalog-menu
			top: 76px

	&-order
		box-shadow: none

		.header-cart
			background: #fff

			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 40px
				height: 40px
				background: url(../img/cart-order.svg)



	&-top
		padding: 8px 0
		background: #FFD768
		font-size: 14px

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

		&__contacts
			display: flex
			flex-wrap: wrap

			&--item
				margin-right: 40px

				.icon
					position: relative
					top: 2px
					margin-right: 8px
					font-size: 16px

				span
					color: #111010
					

		&__messengers

			.soc
				width: 24px
				height: 24px
				margin-left: 12px
				background-size: contain

			span
				padding-right: 4px

	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 20px 0

		&__right
			display: flex
			flex-wrap: wrap
			align-items: center
	&-btn
		display: flex
		flex-wrap: wrap
		list-style: none

		>li
			position: relative
			margin-right: 24px

			>a
				position: relative
				display: block
				color: #434242

				span
					position: absolute
					display: flex
					align-items: center
					justify-content: center
					top: -15px
					right: -18px
					width: 20px
					height: 20px
					border-radius: 50%
					background: #00A0E3
					font-size: 12px
					color: #fff

			.icon
				font-size: 24px
	&-cart
		position: relative
		display: inline-flex
		align-items: center
		height: 48px
		padding-left: 44px
		padding-right: 12px
		background: #EBEBEB
		border-radius: 123px	
  
		&:before
			content: ''
			position: absolute
			left: 12px
			top: 12px
			width: 24px
			height: 24px
			background: url(../img/shopping-cart.svg) no-repeat

	








.banner
	position: relative
	

	&.slick-dotted
		margin-bottom: 40px

	&-item

		img
			display: block
			margin: 0 auto
			height: 472px
			object-fit: cover

		&__text
			width: 457px
			height: 240px
			display: flex
			align-items: flex-start
			justify-content: center
			flex-direction: column
			margin-right: 80px
			padding: 0 0 0 40px
			background: url(../img/blot.png) no-repeat
			background-size: cover

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			padding-top: 75px
			justify-content: center

			.container
				display: flex
				justify-content: center
			

			.h1
				margin-bottom: 14px
				color: #fff
				text-transform: uppercase

	.slick-dots
		bottom: -45px

		li
			button
				padding: 0
				&:before
					content: ''
					width: 12px
					height: 12px
					background: #DBDBDB
					opacity: 1
					border-radius: 50%

			&.slick-active
				button
					&:before
						background: $main




.brand-slider
	margin-top: 70px

	&__item
		margin-left: 14px
		margin-right: 14px
		a
			display: flex
			align-items: center
			justify-content: center
			height: 70px
			width: 140px
			border: 1px solid #EBEBEB
			border-radius: 12px

	.slick-arrow
		width: 42px
		height: 42px
		top: 50%
		border-radius: 50%
		background: #F4F6FB

		&:before
			font-family: icomoon
			color: $main
			font-size: 14px

	.slick-next
		right: -60px
		&:before
			content: '\e901'

	.slick-prev
		left: -60px
		
		&:before
			content: '\e900'











.btn
	display: inline-block
	padding: 16px 48px
	font-size: 18px
	line-height: 20px
	font-weight: 600
	color: #fff
	text-align: center
	letter-spacing: 0.1px
	text-shadow: 1px 1px 0px rgba(48, 169, 39, 0.4)
	background: linear-gradient(180deg, #5FB242 0%, #35AD41 100%)
	box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.32)
	border-radius: 77px
	border: 2px solid transparent
	outline: none

	&:hover, &:focus
		color: #fff
		opacity: 1
		background: linear-gradient(180deg, #5FB242 0%, #35AD41 100%)
		box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.32)


	&-small
		padding: 12px 16px
		font-weight: 500
		font-size: 16px
		line-height: 18px
		box-shadow: none
		border: 0


	&-transparent
		border-color: $main
		color: $main
		background: #fff

		&:hover, &:focus
			background: linear-gradient(180deg, #5FB242 0%, #35AD41 100%)
			color: #fff


	&-lock
		position: relative
		padding: 12px 16px 12px 40px
		font-size: 16px
		line-height: 18px
		color: $main
		background: #F4F6FB
		font-weight: 500
		text-shadow: none

		&:before
			content: '\e90c'
			position: absolute
			left: 16px
			top: 12px
			font-family: icomoon
			font-size: 16px
			color: $main

	&-medium
		padding: 13px 30px
		font-size: 16px
		line-height: 18px

	&-back
		width: 42px
		height: 42px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		background: #F4F6FB

		.icon
			font-size: 14px
			color: $main



.catalog

	h1
		margin-bottom: 36px

		span
			display: inline-block
			padding-left: 24px
			color: #999
			font-size: 16px
			line-height: 24px
			font-family: Inter
			font-weight: normal
			letter-spacing: 0.1px

	&-btn
		display: flex
		align-items: center

		span
			padding-left: 8px
			font-weight: 600
			font-size: 16px
			line-height: 20px
			letter-spacing: 0.2px
			text-transform: uppercase
			color: #434242

		&.active

			.icon
				position: relative
				left: 5px
				&:before
					content: '\e905'
					font-family: icomoon
					font-size: 22px
					color: #E31E24
					background: transparent

	&-view
		padding-top: 56px
		padding-bottom: 96px
		
		&__item
			position: relative
			

			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				padding: 38px 32px
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12)

				.h2
					margin-bottom: 30px

	&-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 136px
		padding: 56px 0 65px
		height: 100vh
		overflow-y: scroll
		z-index: 100
		background: #fff
		box-shadow: inset 0px 8px 10px 0 rgba(0, 0, 0, 0.06), inset 0px -8px 10px 0 rgba(0, 0, 0, 0.06)

		.h2
			margin-bottom: 40px

		&__item
			display: flex
			flex-wrap: wrap
			margin-bottom: 40px

		&__img
			width: 64px

		&__links
			width: calc(100% - 64px)
			padding-left: 16px

			.h4
				margin-bottom: 12px

			&--list
				height: 148px
				overflow: hidden
				list-style: none

				&.active
					height: auto

				li
					
					a
						line-height: 36px
						color: #666



			&--more
				display: inline-block
				line-height: 18px
				color: $main
				text-decoration: underline

				&:hover, &:focus
					text-decoration: underline
					color: $main

	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 16px

	&-sort
		display: flex
		flex-wrap: wrap
		font-size: 14px
		line-height: 18px

		span
			color: #555

		&__item
			margin-left: 16px
			color: #C79300
			border-bottom: 1px dashed

			&:hover, &:focus
				color: #C79300

			&.active
				color: #000

	&-views
		display: flex


		&__item
			display: flex
			align-items: center
			justify-content: center
			width: 36px
			height: 36px
			border-radius: 4px 0 0 4px
			background: #F4F6FB

			&:last-child
				border-radius: 0 4px 4px 0

			.icon
				color: $main
				font-size: 20px

			&.active
				background: $main

				.icon
					color: #fff

















.sidebar
	

	&-item
		margin-bottom: 36px
		
		&__header
			position: relative
			margin-bottom: 16px
			font-weight: bold
			line-height: 20px
			cursor: pointer

			&:before
				content: '\e904'
				position: absolute
				right: 0
				top: 0
				font-size: 16px
				color: #000
				font-family: icomoon

			&.active
				&:before
					transform: rotate(180deg)


		&__body
			
			.form-field
				margin-bottom: 16px


		&__action
			display: flex
			justify-content: space-between
			align-items: center

		.btn
			width: 100%
			padding-left: 15px
			padding-right: 15px
			margin-bottom: 24px

	&-mobile__btn
		display: none
		background: $main
		width: 36px
		height: 36px
		outline: none
		border: 0
		border-radius: 0 2px 2px 0


#slider-range
	margin: 0 auto 0
	width: auto

.range-slider
	margin-bottom: 22px
	&> span
		display: block
		margin-bottom: 5px

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between
	margin: 0 0 15px 0

	input
		display: inline-block
		width: 80px
		height: 40px
		line-height: 40px
		padding: 0 10px
		border: 1px solid #EBEBEB
		border-radius: 12px
		outline: none
		background: #fff
		font-size: 14px
		color: #999
	span
		display: inline-block
		padding-right: 12px
		font-size: 16px
		font-weight: bold

	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 6px
	border-radius: 10px
	background: #C4C4C4
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 16px
	height: 16px
	border-radius: 50%
	background: $main

.ui-slider-horizontal
	.ui-slider-range
		height: 6px
		border-radius: 0
		background: $main
	.ui-slider-handle
		outline: none
		top: -5px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE














.form

	&-label
		position: absolute
		left: 16px
		top: 16px
		font-size: 14px
		color: #666
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		z-index: 0

	&-item
		position: relative
		margin-bottom: 20px

		&.active
			
			.form-field
				font-size: 14px
				color: #000
				border-color: $main
				

			.form-label
				top: -14px
				padding: 0 5px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: $main
				z-index: 10
				background: #fff

			&.error

				.form-field
					border-color: #E31E24

				.form-label
					color: #E31E24

	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 40px
		line-height: 40px
		padding-left: 12px
		border-radius: 12px
		border: 1px solid #EBEBEB
		outline: none
		z-index: 1

	&-profile
		max-width: 260px
		margin-bottom: 32px

		.form-field
			height: 48px
			line-height: 48px

		.btn
			width: 100%
			padding: 13px 15px
			font-size: 16px
			line-height: 18px


	&-search
		position: relative
		max-width: 460px
		width: 100%

		&__field
			width: 100%
			height: 44px
			line-height: 44px
			padding-left: 12px
			background: #EBEBEB
			border-radius: 12px
			border: 0
			outline: none
			font-size: 14px



		&__btn
			position: absolute
			right: 12px
			top: 12px
			outline: none
			border: 0
			padding: 0
			background-color: transparent

			.icon
				font-size: 20px
				color: #434242

	&-promocode
		position: relative
		max-width: 422px
		margin-bottom: 36px

		.btn
			position: absolute
			right: 0
			top: 0
			font-size: 14px
			padding: 12px 28px
			z-index: 10

		.form-field
			width: calc(100% - 110px)
			height: 48px
			line-height: 48px

	&-user
		margin-bottom: 24px

		.form-item
			margin-bottom: 24px
			max-width: 260px

		.form-field
			height: 48px
			line-height: 48px

	&-delivery
		max-width: 560px

		.form-item__wrap
			display: flex

			.form-item
				max-width: 160px
				margin-right: 40px

		.form-label
			top: 12px

	&-feedback
		width: calc(100% - 260px)
		padding-left: 16px

		.h3
			margin-bottom: 24px

		.form-field
			height: 80px
			margin-bottom: 16px
			padding: 10px 16px


textarea
	&.form-field
		height: 96px
		line-height: normal
		font-size: 14px
		padding: 16px
		border-radius: 2px















.check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 11px

		input[type="checkbox"], input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 14px
				line-height: 18px

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 20px
					height: 20px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid $main
					border-radius: 2px


			&:checked
				&+label
					&::before
						content: '\e903'
						font-size: 14px
						color: #fff
						font-family: icomoon
						background: $main

.radio-list
	list-style: none

	&__item
		display: block
		margin-bottom: 11px

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 14px
				line-height: 18px

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid $main
					border-radius: 50%


			&:checked
				&+label
					&::after
						content: ''
						position: absolute
						left: 4px
						top: 3px
						width: 10px
						height: 10px
						border-radius: 50%
						background: $main


.switch-btn
	position: relative
	display: inline-block
	width: 38px
	height: 20px
	border-radius: 10px
	border: 1px solid #666
	cursor: pointer
	transition-duration: 300ms

	&::after
		content: ""
		position: absolute
		height: 14px
		width: 14px
		border-radius: 50%
		background: #666
		top: 2px
		left: 3px
		transition-duration: 300ms
		z-index: 1

	&.switch-on
		border-color: $main

		&::after
			left: 19px
			background: $main




















.product

	.h2
		margin-bottom: 32px

	&-item
		min-height: 488px
		margin-bottom: 40px
		border: 1px solid #EBEBEB
		border-radius: 8px


		&__img
			position: relative
			height: 260px
			display: flex
			align-items: center
			justify-content: center

			img
				display: block

		&__top
			position: absolute
			left: 12px
			right: 12px
			top: 12px
			display: flex
			justify-content: space-between

			>ul:first-child:not(.product-item__tag)
				width: 100%
				text-align: right

		&__tag
			list-style: none

			li
				margin-bottom: 8px

				a
					display: inline-block
					padding: 6px 8px
					font-weight: 500
					font-size: 12px
					line-height: 14px
					letter-spacing: 0.2px
					border-radius: 30px

			&--discount
				background: linear-gradient(180deg, #FBBA00 0%, #DE970C 100%)

			&--new
				background: linear-gradient(180deg, #00A0E3 0%, #0988CF 100%)
				color: #fff

				&:hover
					color: #fff

		&__btn
			list-style: none

			li
				display: inline-block
				margin-left: 6px
				font-size: 22px

				a
					color: #999999


					&.active
						.icon-heart
							&:before
								content: '\e90b'
								color: #E31E24

						.icon-compare
							&:before
								color: #E31E24

					.icon-close
						color: #E31E24

	&-name
		height: 72px
		margin-bottom: 10px
		overflow: hidden

		a
			line-height: 24px
			letter-spacing: 0.1px



	&-info
		padding: 8px 16px 0

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center
			height: 64px
			margin-bottom: 16px

		&__stock
			position: relative
			font-size: 14px
			line-height: 16px
			letter-spacing: 0.3px
			color: #666666

			&:before
				content: '\e903'
				position: relative
				top: 3px
				display: inline-block
				padding-right: 6px
				font-size: 16px
				line-height: 16px
				font-family: icomoon

	&-price
		display: flex
		flex-direction: column

		&__top
			display: flex
			align-items: center
			margin-bottom: 4px
			font-size: 12px
			line-height: 14px
			font-family: Rubik
			


		&__old
			padding-right: 4px
			text-decoration-line: line-through
			color: #999999

		&__difference
			padding: 2px 4px
			color: $main
			background: #F4F6FB

		&__current
			margin-bottom: 4px
			font-family: Rubik
			font-style: normal
			font-weight: 500
			font-size: 20px
			line-height: 24px
			color: #E31E24

		&__credit
			font-size: 12px
			line-height: 14px
			font-family: Rubik
			color: #999

		


	&-rating
		display: flex
		align-items: center
		margin-bottom: 8px

		&__wrap
			display: flex
			flex-wrap: wrap

		&__count
			padding-left: 6px
			font-size: 14px
			color: #666

			a
				font-size: 14px
				color: #666

		&__block
			width: 80px
			height: 16px
			background: url('../img/star.svg') repeat-x 0 0
			background-size: contain

		&__inner
			background: url('../img/star-solid.svg') repeat-x 0 0
			background-size: contain
			font-size: 1px
			height: 16px
			text-indent: -9999px

	&-article
		margin-bottom: 16px
		font-size: 14px
		color: #999999


	&-list
		&+.pagination
			padding-top: 24px


		.product

			&-item
				position: relative
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 24px
				min-height: 180px
				transition: all .3s

				&:hover
					box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12)


				&__img
					width: 180px
					height: 180px
					padding: 7px

			&-rating

				&__block
					width: 80px
					height: 16px
					background: url('../img/star-green.svg') repeat-x 0 0
					background-size: contain

				&__inner
					background: url('../img/star-solid-green.svg') repeat-x 0 0
					background-size: contain
					font-size: 1px
					height: 16px
					text-indent: -9999px

			&-name
				height: auto

			&-price
				padding: 10px 16px 9px

				&__top
					font-size: 19px
					line-height: 23px

				&__old
					padding-right: 6px

				&__current
					font-size: 36px
					line-height: 40px
					margin: 0
					letter-spacing: 0.4px




			&-info
				width: calc(100% - 180px)
				padding-right: 210px
				

				&__bottom
					position: absolute
					right: 0
					top: 0
					bottom: 0
					height: 100%
					flex-direction: column
					justify-content: center
					width: 210px
					margin-bottom: 0
					border-left: 1px solid #EBEBEB

					&--cart
						height: 100%
						display: flex
						align-items: center
						justify-content: center



						button
							width: 42px
							height: 42px
							display: flex
							align-items: center
							justify-content: center
							color: $main
							border-radius: 50%
							background: #F4F6FB
							border: 0
							outline: none

	&-description
		display: flex
		align-items: center

		&__text
			width: calc(100% - 240px)

			.h2, h2
				margin-bottom: 12px

			p
				color: #666

		&__mark
			width: 240px
			padding-left: 40px

			img
				display: block

			a
				display: inline-block
				color: #666
	
	&-characteristics

		.h3, h3
			margin-bottom: 16px

		h2, .h2
			margin-bottom: 36px

		.custom-list
			margin-bottom: 56px
			max-width: 660px

		p
			max-width: 660px
			margin-bottom: 16px

		&__item
			margin-bottom: 36px
			width: 560px

			.h5
				margin-bottom: 16px

			ul
				list-style: none

				li
					position: relative
					display: flex
					justify-content: space-between
					margin-bottom: 16px
					

					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: 1px
						border-bottom: 1px dashed #999

					span
						position: relative
						padding-left: 1px
						padding-right: 1px
						font-size: 16px
						line-height: 20px
						background: #fff
						z-index: 10

.custom-list
	padding-left: 26px
	list-style: none

	li
		position: relative
		padding-left: 22px
		margin-bottom: 16px
		line-height: 26px

		&:before
			content: ''
			position: absolute
			left: 0
			top: 10px
			width: 6px
			height: 6px
			background: #DBDBDB
			border-radius: 50%


.seo
	position: relative
	padding-top: 70px
	overflow: hidden

	&-text
		padding-top: 85px
		padding-bottom: 60px
		background: #F4F6FB

		&:before
			content: ''
			position: absolute
			right: 0
			top: 0
			width: 848px
			height: 431px
			background: url(../img/pattern.png)

	.h2, h2
		margin-bottom: 12px
		max-width: 1060px

	p
		margin-bottom: 20px
		max-width: 1060px
		color: #666


.news
	padding-top: 60px
	padding-bottom: 100px

	.h2
		margin-bottom: 30px

	&-block

		

	&-item
		padding-bottom: 24px

		&__img
			margin-bottom: 16px

			>a
				display: block
			img
				display: block
				border-radius: 6px

		&__text
			padding: 0 16px

			p
				height: 72px
				margin-bottom: 16px
				overflow: hidden

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between
			color: #666
			font-size: 14px

			.product-rating
				margin-bottom: 0

		&__comments
			display: flex
			align-items: center
			span
				padding-left: 6px
				color: #666

			.icon
				line-height: 14px
				color: #333


.footer
	background: #222428

	&-top
		display: flex
		justify-content: space-between
		padding-top: 60px
		padding-bottom: 50px
		background-image: url(../img/footer-bg.png)
		background-repeat: no-repeat
		background-position: 30% bottom

		&__left
			display: flex
			flex-wrap: wrap

		&__right

			.h3
				margin-bottom: 24px
				color: #fff

	&-links
		margin-right: 40px

		&:last-child
			margin-right: 0

		.h3
			position: relative
			padding-left: 36px
			margin-bottom: 24px
			color: #fff

			&:before
				content: ''
				position: absolute
				left: 0
				top: 1px
				width: 24px
				height: 24px
				background: url(../img/menu.svg)

		ul
			list-style: none

			li
				margin-bottom: 18px
				line-height: 22px

				a
					color: #fff
					font-weight: normal

	&-contacts
		list-style: none

		li
			margin-bottom: 16px
			line-height: 18px
			color: #fff

			&:last-child
				margin-bottom: 0

	&-bottom
		background: #1B1A1A

		&__wrap
			padding: 22px 0
			display: flex
			align-items: center
			justify-content: space-between

		&__left
			display: flex
			align-items: center

			.personal
				margin-left: 64px
				color: #999
				font-size: 14px

	&-messengers

		.soc
			width: 24px
			height: 24px
			margin-left: 12px
			background-size: contain

		span
			padding-right: 4px
			font-size: 14px
			color: #999

	&-copyrigth
		display: flex
		align-items: center
		justify-content: space-between
		padding: 12px 0
		border-top: 1px solid #383535
	
		&__text
			color: #666

			a
				color: #666

	&-dev
		display: flex
		align-items: center
		color: #666

		span
			padding-right: 15px

		img
			display: block

	






.newsletter
	margin-bottom: 16px

	.h5
		margin-bottom: 8px
		color: #fff

	&-form
		position: relative
		margin-bottom: 8px
		min-width: 360px

		&__field
			width: 100%
			height: 42px
			line-height: 42px
			padding-left: 12px
			padding-right: 30px
			background: #fff
			border: 0
			outline: none
			font-size: 14px
			border-radius: 26px 77px 77px 26px

			&:hover
				opacity: .9

		&__btn
			position: absolute
			top: 0
			right: 0
			background: $main
			width: 42px
			height: 42px
			border-radius: 50%
			outline: none
			border: 0
			color: #fff
			transition: all .3s

			&:hover
				opacity: .9
				



.mobile-menu
	display: none

.breadcrumbs
	margin: 16px 0 60px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		line-height: 20px

		+ li::before
			content: "\/"
			padding: 0 14px 0 10px
			color: #DBDBDB


		a
			font-size: 14px
			line-height: 20px
			color: #666

			&:hover
				color: #000
				opacity: 1


.content
	min-height: calc(100vh - 626px)


.brands

	&-item
		&__letter
			margin-bottom: 8px
			font-size: 18px
			height: 26px
			font-weight: bold

.pagination
	display: flex
	align-items: center
	flex-wrap: wrap
	padding-top: 40px
	margin-bottom: 100px
	border-top: 1px solid #EBEBEB
	list-style: none

	li
		color: $main

		&:first-child
			margin-right: 10px

		&:last-child
			margin-left: 10px

		&:not(.pagination-arrow)

			a
				display: flex
				align-items: center
				justify-content: center
				width: 42px
				height: 42px
				line-height: 18px
				color: $main
				font-weight: 500

				&.active
					background: $main
					color: #fff

	&-arrow

		a
			display: inline-block
			padding: 8px 12px
			background: #F4F6FB
			color: $main

.card
	margin-bottom: 90px

	&-img
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&__slider
			width: calc(100% - 100px)


			&--nav
				width: 72px

				.slick-slide
					margin-bottom: 16px
					outline: none

				.slick-arrow


				.slick-prev
					display: none

				.slick-next
					bottom: auto
					top: 65%
					right: 0
					left: 0
					margin: auto
					&:before
						content: '\e904'
						font-family: icomoon
						color: #999999
						font-size: 20px

	&-info

		.h3
			margin-bottom: 16px
			font-family: Rubik

		.product-rating__wrap
			margin-bottom: 24px

			.product-rating
				margin-bottom: 0

		.product-price
			flex-direction: row
			align-items: center
			margin-bottom: 23px

			&__current
				padding-right: 16px
				font-size: 36px
				line-height: 40px

			&__old
				margin-right: 8px
				font-size: 19px

			&__difference
				font-size: 19px

		.btn
			min-width: 260px
			margin-bottom: 16px

		&__list
			margin: 27px 0 32px
			list-style: none

			li
				display: flex
				flex-wrap: wrap
				font-size: 14px
				line-height: 16px
				margin-bottom: 9px
				letter-spacing: 0.3px

				span
					&:first-child
						min-width: 285px
						padding-right: 15px
						color: #666

		.jq-selectbox
			margin-bottom: 16px

select
	display: none

.jq-selectbox
	position: relative
	width: 260px

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 16px 30px 16px 16px
		width: 100%
		border: 1px solid #EBEBEB
		font-size: 14px
		color: #666
		border-radius: 12px


		&::after
			content: '\e904'
			position: absolute
			right: 16px
			top: 19px
			font-family: icomoon
			font-size: 12px
			color: #000
			


	&.opened
		.jq-selectbox__select-text
			color: #000
			&::after
				transform: rotate(180deg)


	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 50px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			border: 1px solid #EBEBEB
			border-radius: 12px
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #666
				border-bottom: 1px solid #EBEBEB
				transition: all .3s

				&:hover
					background: #EBEBEB


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999

.color

	.h3
		margin-bottom: 8px
		font-family: Rubik

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 48px
				height: 48px
				margin-right: 6px
				cursor: pointer
				border-radius: 2px

			&:checked
				&+label
					border: 4px solid #DBDBDB


.tabs
	margin-bottom: 120px

	&-nav
		display: flex
		width: 100%
		list-style: none
		border-bottom: 1px solid #EBEBEB


		li
			margin-right: 16px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 0 0 16px
				font-weight: 500
				font-size: 16px
				line-height: 18px
				letter-spacing: 0.1px
				color: #666


				&.active
					position: relative
					color: #000

					&::before
						content: ''
						position: absolute
						left: 0
						bottom: -2px
						width: 100%
						height: 3px
						background: $main
					



	&-mobile__btn
		display: none

	&-item
		display: none

		&.active
			display: block

		&__body
			padding: 40px 0 40px

	&-wrap
		&__scroll

			.tabs-item
				display: block


.bg-grey
	background: #F4F6FB

.bg-pattern
	background-image: url(../img/pattern.png)
	background-repeat: no-repeat
	background-position: right bottom



.reviews

	.h2
		margin-bottom: 56px

	&-wrap
		display: flex
		flex-wrap: wrap

	&-rating
		width: 260px
		height: 100%
		padding: 32px 35px
		background: #F4F6FB
		text-align: center

		&__val
			margin-bottom: 8px
			font-family: Rubik
			font-weight: 500
			font-size: 36px
			line-height: 40px
			letter-spacing: 0.4px

		.product


			&-rating

				&__wrap
					margin-bottom: 24px
					justify-content: center

				&__block
					width: 80px
					height: 16px
					background: url('../img/star-black.svg') repeat-x 0 0
					background-size: contain

				&__inner
					background: url('../img/star-solid-black.svg') repeat-x 0 0
					background-size: contain
					font-size: 1px
					height: 16px
					text-indent: -9999px

		.btn
			width: 100%
			padding-left: 15px
			padding-right: 15px
			font-size: 16px
			line-height: 18px
		
	&-content
		width: calc(100% - 260px)
		padding-left: 40px

	&-item
		max-width: 860px
		margin-bottom: 24px

		&:last-of-type
			margin-bottom: 48px

		&__admin
			max-width: 660px
			margin-bottom: 48px
			padding: 24px
			background: #F4F6FB
			border-radius: 12px

		&__top
			display: flex
			align-items: center
			margin-bottom: 16px

			img
				display: block
				border-radius: 50%

		&__name
			display: block
			padding-left: 16px
			letter-spacing: 0.1px

			span
				display: block
				margin-top: 4px
				font-size: 14px
				color: #666


		.product-rating__count
			padding-left: 12px

		p
			margin-bottom: 8px
			color: #666

		&__more
			display: flex
			align-items: center
			justify-content: center
			padding-top: 13px
			padding-bottom: 13px
			font-weight: 500
			font-size: 16px
			line-height: 18px
			color: $main
			background: #F4F6FB
			border-radius: 77px

			span
				padding-left: 8px


.basket
	padding-bottom: 300px

	.h1, h1
		margin-bottom: 36px
		text-transform: uppercase

	&-table
		display: table
		width: 100%
		border-collapse: collapse

		&__row
			display: table-row

			>div
				display: table-cell
				vertical-align: middle
				padding-top: 24px
				padding-bottom: 24px
				border-bottom: 1px solid #EBEBEB

		&__img
			width: 80px

		&__name
			padding-left: 20px
			padding-right: 20px
			max-width: 290px

			p
				margin-bottom: 6px
				letter-spacing: 0.1px

			span
				font-size: 14px
				line-height: 16px
				color: #999999

		&__count

			input
				width: 40px
				height: 40px
				text-align: center
				background-color: transparent
				border: 1px solid #EBEBEB
				border-radius: 2px
				outline: none

			span
				padding-left: 6px

		&__price
			.product-price__current
				color: #000

		&__del
			width: 90px

			button
				position: relative
				padding: 0 0 0 34px
				border: 0
				outline: 0
				background-color: transparent
				font-size: 16px
				line-height: 26px
				color: #E31E24

				&:before
					content: ''
					position: absolute
					left: 0
					top: 0
					width: 24px
					height: 24px
					background: url(../img/broken-cable.svg)

		&__btn
			.btn
				padding: 11px 16px
				font-size: 16px
				line-height: 18px
				font-weight: 500


	&-total
		padding: 32px 24px 
		background: #F4F6FB
		border-radius: 12px

		.btn
			padding-left: 15px
			padding-right: 15px
			width: 100%
			margin-bottom: 12px

		p
			padding-bottom: 24px
			font-size: 14px
			line-height: 16px
			color: #666
			

		&__list
			padding: 24px 0
			border-top: 1px solid #EBEBEB
			border-bottom: 1px solid #EBEBEB

			.h4
				margin-bottom: 12px
				font-family: Rubik
				font-weight: 500
				font-size: 18px
				line-height: 24px
			
			ul
				list-style: none

				li
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					margin-bottom: 8px
					font-size: 14px
					line-height: 18px

					strong
						font-weight: 500

		&__bottom
			display: flex
			justify-content: space-between
			padding-top: 24px

			span
				font-weight: 500
				font-size: 20px
				line-height: 24px
				font-family: Rubik

.color
	&-red
		color: #E31E24


.cabinet
	padding-bottom: 100px

	.h2
		display: flex
		align-items: center
		margin-bottom: 30px

		span
			padding-left: 16px

		.icon
			font-size: 29px
			line-height: 29px

	.basket
		
		&-table

			&__row
				&:first-child
					>div
						border-top: 1px solid #ebebeb
				>div
					padding-top: 16px
					padding-bottom: 16px

					
						

			&__img
				width: 160px

			&__name
				max-width: 340px

				span
					display: block
					margin-bottom: 6px

			&__price

				.product-price__current
					font-size: 32px
					line-height: 36px


.history

	&-table
		display: flex
		flex-wrap: wrap

		&__row
			display: flex
			width: 100%

			&:first-child
				>div
					
					font-weight: 500
					padding-top: 0

					&:first-child
						width: 200px

					

			&--hidden
				display: none

				&.active
					display: flex
					

		&__td
			flex: 1
			color: #666
			padding-top: 24px
			padding-bottom: 24px
			padding-right: 24px
			border-bottom: 1px solid #EBEBEB
			font-size: 16px
			line-height: 24px
			font-family: Rubik

			&:first-child
				min-width: 210px

			&:last-child
				padding-right: 0

			span
				display: block

			a
				color: $main
				display: inline-block

			
	&-more
		padding: 0 16px 16px
		border: 1px solid #EBEBEB
		border-top: 0

		&__table
			display: table
			width: 100%

			&--row
				display: table-row

				&:first-child
					>div
						padding-top: 18px
						padding-bottom: 18px
						padding-left: 20px
						font-family: Rubik
						font-weight: 500



			&--td
				display: table-cell
				padding: 50px 0 50px 20px
				vertical-align: middle
				border-bottom: 1px solid #EBEBEB

			&--img
				display: flex
				align-items: center

			&--name
				max-width: 250px
				padding-left: 24px

				p
					margin-bottom: 6px

				span
					font-size: 14px
					line-height: 16px
					color: #999
		
		&__list
			padding: 36px 0 20px
			list-style: none

			li
				display: flex
				flex-wrap: wrap
				margin-bottom: 16px
				font-family: Rubik
				line-height: 20px

				span

					&:first-child
						min-width: 200px
						color: #666


.configuring
	padding: 32px 0 32px
	border-top: 1px solid #EBEBEB

	&-item
		display: flex
		align-items: center
		margin-bottom: 16px

		span
			padding-left: 8px
			font-size: 14px


.profile
	&-del
		font-size: 14px
		line-height: 16px
		border-bottom: 1px solid
		color: $main


.order
	padding: 40px 0 100px

	.h1, h1
		margin-bottom: 40px
		text-transform: uppercase


	&-wrap
		max-width: 960px
		margin: 0 auto

	&-block
		display: flex
		flex-wrap: wrap
		position: relative

		.basket-total
			position: relative
			max-width: 360px
			height: 100%

			.terms
				font-size: 12px
				line-height: 14px

			.airSticky_fixed
				right: calc((100vw - 1200px) / 2)
				margin-top: 76px
				padding: 32px 24px
				background: #f4f6fb
				border-radius: 12px

	&-item

		.h3
			margin-bottom: 24px

			span
				font-size: 14px
				line-height: 16px

		

	.tabs-nav
		display: inline-flex
		width: auto
		padding: 8px
		background: #F4F6FB
		border-radius: 12px

		li

			a
				display: block
				padding: 13px 28px
				border-radius: 70px
				color: #333

				&:before
					display: none

				&.active
					background: linear-gradient(180deg, #5FB242 0%, #35AD41 100%), #5FB242
					letter-spacing: 0.1px
					color: #FFFFFF
					text-shadow: 1px 1px 0px rgba(48, 169, 39, 0.4)

	.tabs-item__body
		padding: 24px 0 40px

		.h2
			margin-bottom: 24px

	&-list
		max-width: 580px
		margin: 0 auto 56px
		padding: 32px
		list-style: none
		border: 1px solid #EAEAEA
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12)
		border-radius: 12px

		li
			display: flex
			flex-wrap: wrap
			margin-bottom: 16px
			font-size: 16px
			

			span
				min-width: 190px
				color: #666

			strong
				width: calc(100% - 190px)
				font-weight: 500

	&-data
		padding: 40px
		margin-bottom: 33px
		border: 1px solid #EBEBEB
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12)
		border-radius: 12px

		.h2
			margin-bottom: 40px
			text-align: center



	&-table
		width: 100%
		border-collapse: collapse

		thead
			tr
				td
					padding-bottom: 13px

		tr
			td
				padding: 10px 15px
				font-size: 14px
				line-height: 16px
				border-bottom: 1px solid #E5E5E5
				text-align: center
				vertical-align: middle

				&:first-child
					max-width: 240px
					padding-left: 0
					text-align: left

					img
						display: inline-block
						vertical-align: middle

					span
						display: inline-block
						padding-left: 16px
						vertical-align: middle

				&:last-child
					padding-right: 0

			&:last-child
					td
						border-bottom: 0
	&-total
		display: flex
		justify-content: flex-end

		.basket-total

			&__list
				padding: 0 0 24px
				border-top: 0

			&__bottom
				padding-bottom: 24px

			.btn
				margin-bottom: 0



.succses
	padding-bottom: 135px

	&.bg-pattern
		background-position: -180px bottom
	

	&-wrap
		max-width: 1000px
		margin: 0 auto

	.h1, h1
		text-align: center
		text-transform: uppercase

		&+p
			margin-bottom: 37px
			text-align: center
			color: #666


.inner
	padding: 56px 0 90px

	.h1, h1
		margin-bottom: 36px
		text-transform: uppercase


.modal
	display: none
	max-width: 420px
	width: 100%
	border-radius: 12px

	&-header
		display: flex
		align-items: center
		margin-bottom: 32px
		font-size: 24px
		line-height: 28px
		letter-spacing: 0.2px



	.fancybox-button
		width: 24px
		height: 24px
		padding: 0
		opacity: 1
		right: 16px
		top: 16px

		&:before
			content: '\e905'
			position: absolute
			left: 0
			top: 0
			font-size: 24px
			line-height: 24px
			color: #999
			font-family: icomoon
			transition: all .3s

		&:hover
			&:before
				color: #000


		svg
			display: none


	&-form

		&__item
			margin-bottom: 16px

			label
				display: block
				margin-bottom: 8px
				font-size: 14px
				line-height: 16px
				color: #666

			&+p
				margin-bottom: 16px

		.btn-medium
			width: 100%

	.btn-back
		margin-right: 12px

	&-feedback
		max-width: 1024px



.login-methods
	margin: 32px 0 32px

	p
		margin-bottom: 16px
		font-size: 14px
		line-height: 16px

.terms
	position: relative
	padding-left: 24px
	font-size: 12px
	line-height: 16px

	&:before
		content: '\e903'
		position: absolute
		left: 0
		top: 0
		font-size: 16px
		color: $main
		font-family: icomoon

	a
		color: #999


.user

	&-send
		margin-bottom: 32px
		color: #666
		font-size: 14px

		span
			color: #000

	&-resend
		margin-bottom: 16px
		color: #666
		font-size: 14px
		line-height: 16px

	&-menu
		display: none
		position: absolute
		right: 0
		top: calc(100% + 10px)
		min-width: 150px
		background: #fff
		padding: 16px
		border-radius: 12px
		list-style: none
		z-index: 100
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06)

		li
			margin: 0 0 12px

			&:last-child
				margin: 0

			a
				font-size: 14px
				line-height: 18px

		&__exit
			padding-top: 12px
			border-top: 1px solid #EBEBEB

			a
				color: $main

		&__btn
			&:before
				content: ''
				position: absolute
				width: 50px
				height: 10px
				top: 100%
				right: 0
				background-color: transparent

.forgot-password
	display: inline-block
	margin-bottom: 16px
	color: $main



.mm-spn
	.mobile-search
		&:before, &:after
			display: none

	.form-search
		max-width: 100%

		input
			border-radius: 0




.star

	&-rating
		display: flex
		font-size: 0
		margin-bottom: 16px

		&__wrap
			font-size: 30px

			&:after
				content: ""
				display: table
				clear: both

		&__ico
			float: right
			padding-left: 10px
			cursor: pointer
			color: #FBBA00

			&:last-child
				padding-left: 0

		&__input
			display: none

.star-rating__ico:hover
	&:before, ~ .star-rating__ico:before
	content: "\f005"

.star-rating__input:checked ~ .star-rating__ico:before
	content: "\f005"



.feedback
	display: flex
	align-items: center

	&-img
		width: 260px



.comparison

	&-item
		font-family: Rubik
		font-weight: 500



		&__header
			padding-top: 16px
			margin-bottom: 16px

		&__val
			padding-bottom: 16px
			border-bottom: 1px solid #EBEBEB











































@media only screen and (max-width: 1900px)
	.seo-text:before
		right: -270px











@media only screen and (max-width: 1365px)
	.brand-slider
		max-width: calc(100% - 90px)
		margin-left: auto
		margin-right: auto

		&__item
			margin-left: 7px
			margin-right: 7px

			a
				margin: 0 auto

		.slick-prev
			left: -45px
		.slick-next
			right: -45px

















@media only screen and (max-width: 1199px)
	.form-search
		max-width: 320px

	.catalog-view__item
		img
			height: 260px
			object-fit: cover

	.sidebar
		position: fixed
		left: 0
		top: 180px
		width: 290px
		padding: 60px 16px  20px
		z-index: 1
		transform: translateX(-290px)
		height: calc(100vh - 154px)

		transition: all .3s

		>*:not(.sidebar-mobile__btn)
			display: none


		&.active
			z-index: 999
			background: #FAFAFA
			transform: translateX(0)
			overflow-y: scroll
			border-radius: 0 20px 0 0

			>*:not(.sidebar-mobile__btn)
				display: block

			.sidebar-item
				display: block

			.sidebar-mobile__btn
				right: 6px
				width: 30px
				height: 30px
				background: transparent
				.icon-filter

					background: transparent

					&:before
						content: '\e905'
						font-family: icomoon
						font-size: 30px
						color: $main



		&-mobile__btn
			position: absolute
			display: flex
			align-items: center
			justify-content: center
			right: -36px
			top: 0


	.basket
		padding-bottom: 100px
		&-wrap

			.col-lg-4
				display: flex
				justify-content: flex-end
				
			.basket-total
				max-width: 400px


		&-table
			margin-bottom: 50px

		
		&.bg-pattern
			background-position: -200px bottom

	.cabinet .basket-table__img
		width: 100px


























@media only screen and (max-width: 991px)
	
	.header-top
		font-size: 12px

		&__contacts
			&--item
				margin-right: 20px
				span
					position: relative
					top: -2px
				.icon
					top: auto

	.form-search
		max-width: 160px

	.logo
		max-width: 150px

	.banner-item 
		img
			height: 380px

		&__overlay
			padding-top: 45px

	.product-item__img
		margin: 0 auto

	.news

		.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px

		.h2
			font-size: 24px

		&-item

			p
				font-size: 14px
				line-height: 18px

			&__text
				padding: 0

			&__date
				font-size: 12px

	.footer-links
		margin: 0 0 30px

	.footer-bottom__left 
		.personal
			margin-left: 30px
			font-size: 12px

	.footer-messengers span
		font-size: 12px

	.cabinet .basket-table__img
		display: none

	.cabinet .basket-table__price .product-price__current
		font-size: 20px

	.cabinet .basket-table__name
		max-width: 280px

	.modal-feedback
		max-width: 90%

	.order
		&-block
			display: block

		&-wrap
		max-width: none




















@media only screen and (max-width: 768px)
	
	.container
		padding-left: 10px
		padding-right: 10px


	.row
		margin-left: -10px
		margin-right: -10px

		>[class^='col']
			padding-left: 10px
			padding-right: 10px

	.mobile-menu
		display: block

	.product
		&-item
			margin-bottom: 20px

		.row
			display: flex
			flex-wrap: wrap
			margin-left: -10px
			margin-right: -10px

			>[class^='col']
				width: 50%
				padding-left: 10px
				padding-right: 10px

		&-list 
			.product-info
				padding-right: 0

	.catalog
		&-wrap
			.row
				display: flex
				flex-wrap: wrap
				margin-left: -10px
				margin-right: -10px

				[class^='col']
					width: 50%
					padding-left: 10px
					padding-right: 10px


	.header-wrap__right
		position: absolute
		right: 10px
		top: 12px

	.header-order
		.header-wrap__right
			right: 20px

	.header-top
		padding: 13px 0

	.header-cart
		background-color: transparent
		font-size: 0
		width: 24px
		height: 24px
		padding: 0

		&:before
			left: 0
			top: 0
			font-size: 20px

	.header-btn 
		li
			margin-right: 16px
			.icon
				font-size: 20px

			a 
				span
					top: -8px
					right: -9px
					width: 15px
					height: 15px
					font-size: 10px


	.seo-text:before
		display: none

	.footer
		&-top
			display: block
			padding: 35px 0

			&__right
				text-align: center

			&__left
				display: block


		&-links

			ul
				display: none
				padding: 0px 0 20px

			.h3
				cursor: pointer
				position: relative


				&::after
					content: ''
					position: absolute
					right: 5px
					top: 3px
					width: 14px
					height: 14px
					border-right: 2px solid #fff
					border-bottom: 2px solid #fff
					transform: rotate(45deg)
					


				&.active
					&::after
						transform: rotate(225deg)
						top: 9px

		&-bottom
			&__wrap
				display: block
				padding: 15px 0
				text-align: center

			&__left
				flex-direction: column
				align-items: center

				.personal
					margin: 0 0 10px

		&-logo
			margin-bottom: 5px

	.h3, h3
		font-size: 20px

	.banner-item__text
		margin-right: 0

	.footer-copyrigth
		flex-direction: column
		align-items: center
		font-size: 12px

		&__text
			margin-bottom: 5px

	.newsletter-form
		max-width: 320px
		min-width: 0
		margin: 0 auto

	.h1, h1
		font-size: 30px
		line-height: 36px


	.h2, h2
		font-size: 24px
		line-height: 30px

	.catalog-view__item
		margin-bottom: 30px

		img
			width: 100%

	.catalog-views
		display: none

	.breadcrumbs
		margin: 16px 0 20px

	.product-list 
		.product
			&-item
				flex-direction: column
				padding-bottom: 16px

				&__img
					width: 100%
					height: auto

			&-info
				width: 100%

				&__bottom
					position: static
					width: 100%
					height: auto
					display: block
					padding-bottom: 16px


	.product-description
		flex-direction: column-reverse
		align-items: flex-start

		&__text
			width: 100%

		&__mark
			padding: 0 0 20px

	.tabs-item
		&__body
			padding: 20px 0 40px

		&.bg-pattern
			background-image: none

	.card
		margin-bottom: 50px

	.reviews
		&-wrap
			display: block
		.h2
			margin-bottom: 24px

		&-rating
			width: auto
			margin-bottom: 30px

			.btn
				max-width: 240px

		&-content
			width: auto
			padding: 0

	.product-characteristics__item
		width: auto

	.basket-table__row
		>div.basket-table__img
			display: none


	.basket-table__del
		width: auto
		button
			width: 24px
			height: 24px
			font-size: 0
			padding: 0 34px 0 0

			&:before
				content: '\e905'
				font-family: icomoon
				color: #e31e24
				left: auto
				right: 0
				background: transparent
				font-size: 24px

	.basket-table__price
		width: 100px
		padding-left: 10px

	.product-price__current
		font-size: 18px

	.basket-table__count
		text-align: center
		input
			display: block
		span
			display: block
			font-size: 14px

	.basket-table__name
		padding-left: 0
		padding-right: 10px

		p
			font-size: 14px
			line-height: 16px
		span
			font-size: 12px

	.basket-table__btn 
		.btn
			position: relative
			padding: 0
			font-size: 0
			width: 40px
			height: 40px

			&:before
				content: ''
				position: absolute
				width: 24px
				height: 24px
				left: 5px
				top: 7px
				background: url(../img/cart-white.svg)


	.cabinet 
		.basket-table__name
			max-width: 160px

		.basket-table__del
			width: 34px

		.basket-table__btn
			width: 40px

		.basket-table__price
			width: 120px

	.history-table__td
		font-size: 14px
		line-height: 20px
		padding-bottom: 10px
		padding-right: 5px

	.history-more
		overflow-x: auto

	.history-more__table--row:first-child>div
		padding: 10px
		font-size: 14px

	.history-more__table--name 
		p
			font-size: 14px
			line-height: 16px

		span
			font-size: 12px

	.history-more__table--td
		padding: 10px 0 10px 0px
		font-size: 12px

		&:not(:first-child)
			text-align: center

	.history-more__table--name
		width: 200px

	.history-more__table
		width: 600px

	.history-table__td:first-child
		width: auto
		min-width: 150px

	.order 
		&.bg-pattern
			background: transparent

	.feedback
		display: block

		&-img
			width: auto
			margin-bottom: 20px
			text-align: center

	.form-feedback
		width: auto

	.modal-feedback.fancybox-content
		padding: 20px

		.star-rating__wrap
			font-size: 20px























@media only screen and (max-width: 550px)
	.banner
		&-item
			&__overlay
				position: static
				display: block
				padding: 20px 0
				background: #1D525C

				.container
					display: block

			img
				height: auto

			&__text
				display: block
				width: auto
				height: auto
				padding: 0
				text-align: center

				br
					display: none

				h1, .h1
					font-size: 24px
					line-height: 30px

		&.slick-dotted
			padding-bottom: 40px

		.slick-dots
			bottom: -10px

	.btn
		padding: 13px 40px
		font-size: 16px
		line-height: 18px


	.brand-slider
		margin-top: 0

	.catalog-view
		padding: 50px 0

	.product 
		.row
			display: block

			[class^=col]
				width: auto

		&-item
			min-height: auto
			padding-bottom: 20px

		&-name
			height: auto
			overflow: visible

	.catalog-wrap
		.row
			display: block

			[class^=col]
				width: auto

	.seo
		padding-top: 30px

		&-text
			padding: 50px 0 30px

	.news
		padding-top: 50px
		padding-bottom: 70px

		&-item
			padding-bottom: 30px

			&__img
				img
					width: 100%

			&__text
				p
					height: auto
					margin-bottom: 10px
	.footer-links ul li
		margin-bottom: 10px


	.catalog-top
		display: block


	.catalog-sort
		font-size: 12px

	.card-img
		flex-direction: column-reverse

		&__slider
			width: 100%

			&--nav
				width: 100%
				padding-right: 50px
				margin-bottom: 30px

				.slick-slide
					margin-bottom: 0


				.slick-next
					left: auto
					top: 40%
					transform: rotate(-90deg)

	.product-article
		margin-bottom: 5px


	.product-price
		display: block

		&__old
			display: inline-block

		&__difference
			display: inline-block

	.card-info .product-price__current
		padding-right: 0

	.card-info__list
		li 
			span:first-child

	.basket-total
		padding: 20px

		&__list
			padding: 16px 0
		&__bottom 
			span
				font-size: 16px
				line-height: 20px

	.cabinet
		padding-bottom: 20px


	.order .tabs-nav li a
		font-size: 11px
		padding: 13px 15px

		.tabs-item__body
			padding: 20px 0

	.order-list
		padding: 24px
		margin-bottom: 30px

		li
			flex-direction: column
			margin-bottom: 10px
			font-size: 14px

			strong
				width: 100%

	
	.order-data
		padding: 0
		box-shadow: none
		border: 0



	.order-table tr td
		padding: 10px 5px
		font-size: 12px
		line-height: 16px




















@media only screen and (max-width: 420px)
	.catalog-view__item--overlay
		.h2
			margin-bottom: 20px
			font-size: 20px
			line-height: 26px
		.btn
			padding-left: 15px
			padding-right: 15px

	.tabs-nav li a
		font-size: 14px

	.basket-table__name 
		p
			font-size: 12px

		span
			font-size: 10px

	.history-table__td
		font-size: 12px
		line-height: 16px


	.configuring-item span
		font-size: 12px